# Java / Maven
target/
*.class
*.jar

# NetBeans
nbproject/private/
build/
dist/

# VS Code
.vscode/

# Node.js
node_modules/
npm-debug.log

# Variables de entorno
.env

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log